In [1]:
import os, sys, time
from time import sleep
import pandas as pd
import numpy as np

In [2]:
in_file = "data/QC-Dashboard-2020-04-21.csv"

In [5]:
df_dashboard = pd.read_csv(in_file, dtype=np.str, index_col=['Level'])
df_dashboard.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 3
Data columns (total 3 columns):
Cycle Time(days)    3 non-null object
n                   3 non-null object
Date Range          3 non-null object
dtypes: object(3)
memory usage: 96.0+ bytes

In [6]:
df_dashboard

         Cycle Time(days)    n                Date Range
Level
1      3.3316974691974695  147  2020-03-31 to 2020-04-21
2       32.54481094112286  230  2020-03-31 to 2020-04-21
3                   222.5    2  2020-03-31 to 2020-04-21

In [8]:
in_file_2 = "data/QC-ProdsPerDay-2020-04-21.csv"

In [9]:
df_ProdsPerDay = pd.read_csv(in_file_2, dtype=np.str)
df_ProdsPerDay

      Unnamed: 0 Count Count.1 Count.2
0   ProductLevel   1.0     2.0     3.0
1         QCDate   NaN     NaN     NaN
2     2020-04-01  22.0    12.0     NaN
3     2020-04-02   8.0    12.0     NaN
4     2020-04-03  12.0    11.0     NaN
5     2020-04-06  20.0     8.0     NaN
6     2020-04-07   3.0    25.0     NaN
7     2020-04-08  10.0    16.0     NaN
8     2020-04-09   4.0    10.0     1.0
9     2020-04-10  11.0    38.0     NaN
10    2020-04-13  15.0    17.0     NaN
11    2020-04-14   8.0    28.0     NaN
12    2020-04-15   4.0    17.0     NaN
13    2020-04-16  15.0     9.0     NaN
14    2020-04-17   2.0    17.0     NaN
15    2020-04-20  13.0    10.0     1.0